.inputContainer {
  position: relative;
  display: flex;
}
.inputLabel {
  position: absolute;
  background-color: #f0f3f6;
  color: #000;
  text-transform: capitalize;
  top: -10px;
  left: -10px;
  padding: 0.5% 0.8%;
}
.inputField {
  padding: 5% 8%;
  width: 25vw;
  background-color: #f0f3f6;
  border-radius: 4px;
  font-size: var(--fs-base);
}
.inputField:focus {
  box-shadow: var(--shadow-m);
}
.required {
  font-size: xx-small;
  color: red;
  padding-left: 1.5%;
  right: 0;
  top: 0;
}
.inValid {
  border-color: red;
}
@media only screen and (max-width: 992px) {
  .inputField {
    padding: 4.5%;
    width: 35vw;
  }
}
@media only screen and (max-width: 576px) {
  .inputField {
    width: 80vw;
  }
}
