@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none !important;
}
.page {
  padding: 2% 3%;
}
.row-center {
  flex-flow: row wrap;
  justify-content: center;
}
.rc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.sectionBody {
  background-color: var(--light-blue-color);
  padding: 2% 0;
  border-radius: 10px;
  box-shadow: var(--shadow-l);
}

:root {
  --light-primary-color: #16aaff;
  --primary-color: #3f6ad8;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --error-color: #dc3545;
  --light-blue-color: #f9fbfc;
  --medium-blue-color: #e0f3ff;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-gray-color: #f8f9fa;
  --light-purple-color: #f7f9fa;
  --medium-purple-color: #f0f3f6;
  --medium-gray-color: #dee2e6;
  --table-cell-color: #f7f7f7;
  --table-text-color: #535a60;
  --dark-gray-color: #495057;
  --text-color: #c9dbe9;
  --light-black-color: #343a40;
  --dark-blue-color: #1a2c64;

  --shadow-m: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-l: 0 1rem 3rem rgba(0, 0, 0, 0.175);

  --gray-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);

  /*=========== Font sizes ==========*/
  --heading-l: 45px;
  --heading-m: 30px;

  --title-1: 25px;
  --title-2: 20px;

  --para-m: 16px;
  --para-s: 14px;
  --para-xs: 12px;

  --btn-m: 16px;
  --btn-s: 13px;

  --radio-width: 20px;
  --chip-width: 80px;
  --chip-height: 40px;

  --navbar-height: 55px;
  --drawer-width: 250px;

  --popover-z: 20000;
  --popover-backdrop-z: 18000;
  --alert-z: 10000;
  --modal-z: 6000;
  --navbar-z: 5000;
  --drawer-z: 4000;
  --backdrop-z: 3000;
}

html {
  /**
  * all the breakpoints of the web app
  */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* color */
  --black: #1d1d1d;
  --white: #ffffff;
  --off-white: #e6e6e6;
  --light-grey: #939aa4;
  --lighter-grey: #cdd4da;
  --danger: #ff0000;
  --teal: #179e8a;

  /* font size */
  --fs-base: 1rem;
  --fs-header: 3.125rem;
  --fs-highlight: 1.25rem;
  --fs-small: 0.75rem;
  --fs-button: 1.5625rem;

  /* spacing */
  --sp-tiny: 4px;
  --sp-small: 8px;
  --sp-medium: 12px;
  --sp-large: 24px;
  --sp-huge: 64px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  --antd-wave-shadow-color: #e6fff8;
}

#main {
  position: relative;
  margin-top: 150px;
}

@media (max-width: 767px) {
  html {
    font-size: 90%;
  }
}
